@font-face {
  font-family: Bryndan Write;
  src: url("Bryndan-Write-Book.ttf");
}
body {
  font-size: 35px;
  background: black;
  padding: 50px;
}
#title {
  font-family: Bryndan Write;
}
#currentPage {
  color: rgb(22, 217, 0);
}
* {
  text-decoration: none;
  color: white;
}
#tab {
  margin-left: -40px;
  margin-bottom: 50px;
  border-bottom: 1px solid rgb(22, 217, 0);
}
#tab ul {
  display: inline-flex;
  list-style-type: none;
  margin: 10px;
  margin-left: 0px;
}
#tab ul li {
  font-size: 35px;
  margin-right: 40px;
}
#tab ul li a:hover {
  color: rgb(22, 217, 0);
}
#div {
  font-size: 25px;
}
#gitPage {
  font-size: 35px;
  bottom: 10px;
  position: fixed;
  background-color: black;
}
#gitPage:hover {
  font-size: 35px;
}
#div a:hover {
  font-size: 32px;
}
#sinistra {
  width: 50%;
  float: left;
}
#destra {
  width: 50%;
  float: right;
}
.icon {
  width: 32px;
  height: 32px;
  border-radius: 10px;
}
